[mysqld]
datadir=/var/lib/mysql

innodb_buffer_pool_size 	= 1024M
innodb_log_file_size 		= 256M
innodb 				= force
innodb_file_per_table 		= 1
innodb_open_files 		= 16384
innodb_stats_on_metadata 	= 0

skip-name-resolve		= 1
secure-auth			= 1
safe-user-create		= 1

[mysqld_safe]
open-files-limit		= 65535